<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- проверяем выполнена ли математика, если да -- выводим в {{name}} (что то типа f.строки -->
{% if cur_exchange_buy %}
{{user_currency_1}} in {{user_currency_2}}:  {{cur_exchange_buy}} for buy, {{cur_exchange_sale}} for sale
{% endif %}
<br>
<br>
<br>
<!--  -->
<form action = '/currency' method="post">
    <label for="bank_id">Bank:</label><br>
    <select id="bank_id" name="bank">
        <option value = "A1">A1</option>
        <option value = "Privat">PrivatBank</option>
        <option value = "MONOBANK">MONOBANK</option>
    </select><br>

    <label for="currency_id_1">Base currency:</label><br>
    <!-- select id= формируем выпадающий список -->
    <select id="currency_id_1" name="currency_1">
        <option selected = "UAH">UAH</option>
        <option value = "USD">USD</option>
        <option value = "EUR">EUR</option>
        <option value = "GPB">GPB</option>
    </select><br>

    <label for="currency_id_2">Exchange currency:</label><br>
    <select id="currency_id_2" name="currency_2">
        <option value = "UAH">UAH</option>
        <option selected value = "USD">USD</option>
        <option value = "EUR">EUR</option>
        <option value = "GPB">GPB</option>
    </select><br>

    <label for="date_id">Date:</label><br>
    <input type="date" id="date_id" name="date"><br>

    <!-- кнопка для сабмита -->
    <input type="submit" value="Submit">

</form>
</body>
</html>