<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registration form</title>
</head>
<h2> Please fill this form to create an account: </h2>
<body>
<br>
<h1>
    {% if username %}
    "{{user_username}}" user already exists
    {% else %}
    New user "{{user_username}}" registered
    {% endif %}

</h1>
<br>
<br>
<hr>
<form action='/register' method="post">

    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter username" name="username" id="username" required>
    <br><br>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>
    <br><br>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
    <br><br><br>
    <input type="submit" value="Submit">

    <hr>

</form>
</body>
</html>